*{
	box-sizing: border-box !important;
}

hr{
	margin-bottom: 50px;
	margin-top: 20px;
}

body{
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background-color: #aaa;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

.pageWidth{
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	min-height: 100%;
}

.scrollOverflow{
	width: 100%;
	height: 90vh;
	position: relative;
}

.scrollOverflow::after{
	content: '~';
	font-size: 144px;
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0;
}

main{
	flex-grow: 1;
}

main .pageWidth{
	position: relative;
}

main p {
	line-height: 1.5em;
}

h1, h2, h3, h3 a{
	color: dodgerblue;
}

.scrollOverflow::after{
	color: dodgerblue;
}
		
input{
	margin: 5px 0;
}

button{
	margin: 5px 0;
	padding: 5px;
	border: 2px solid;
	color: dodgerblue;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
}

button:hover{
	background-color: dodgerblue;
	color: white;
}

.area{
	margin-top: 30px;
	margin-bottom: 60px;
}

.secBlock{
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f4f4f4;
	border: 1px solid dodgerblue;
	border-radius: 5px;
}

.secBlock:first-child{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}


.secBlock:last-child{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.secBlock h3 a:hover{
	color: deepskyblue;
}

table{
	width: 100%;
}

select{
	padding: 0.5em;
}

td{
	padding: 10px 0;
	border-top: 1px solid dodgerblue;
}

.calcHolder{
	display: flex;
}

#calcBtn {
 position: relative;
 width: 50px;
}

#calcBtn:after, #calcBtn:before{
  content: '';
  width: 35px;
  height: 5px;
  background-color: dodgerblue;
  position: absolute;
  left: 5px;
}

#calcBtn:hover:after, #calcBtn:hover:before{
	background-color: white;
}

#calcBtn:before {
  bottom: 55%;
}

#calcBtn:after {
  bottom: 35%;
}

.smallSpacer{
	width: 100%;
	height: 50px;
}

.calcHolder input{
	font-size: 1.5rem;
	padding: 1rem;
	width: 100%;
	border-radius: 0.5em;
}
  
  #calcOutput {
	  background-color: #1c2c33;
	  width: 100%;
	  padding: 1rem;
	  font-size: 2rem;
	  border-radius: 0.5em;
	  border: 2px lightgray inset;
	  font-family: monospace;
  }
  
  #calcOutput.error{
	  border: 2px solid red;
  }
  
  #calcOutput.num{
	  color: #45ff45;
	  border: 2px solid #45ff45;
  }
  
  #calcOutput.rational{
	  color: #bff039;
	  border: 2px solid #bff039;
  }
  
  #calcOutput.bool{
	  border: 2px solid #45ff45;
  }
  
  #calcOutput.complex{
	  border: 2px solid #45ff45;
  }

button.delBtn{
	color: red;
}

button.delBtn:hover{
	background-color: red;
	color: white;
}

.varRow td{
	text-align: center;
}

.varRow td:first-child{
	width: 10%;
}

.varRow td:last-child{
	width: 0;
}

.varRow input{
	padding: 0.5em;
	width:100%;
	border-radius: 0.5em;
}