.num{
	color: green;
}

.error{
	color: red;
}

.warning{
	color: #cc8f00;
}

.bool{
	color: #64a8ff;
}

.complex{
	color: fuchsia;
}

.legend li{
	padding: 0.5em;
	margin-bottom: 0.5em;
	border: 1px solid;
}

#calcInput {
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5em;
}

#calcOutput {
	background-color: #1c2c33;
	width: 100%;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 0.5em;
	border: 2px lightgray inset;
	font-family: monospace;
}

#calcOutput.error{
	border: 2px solid red;
}

#calcOutput.num{
	color: #45ff45;
	border: 2px solid #45ff45;
}

#calcOutput.bool{
	border: 2px solid #45ff45;
}

#calcOutput.complex{
	border: 2px solid #45ff45;
}